* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #142c36;
    color: white;
}

.App {
    margin: auto;
    max-width: 140rem;
    height: 50rem;
    margin-top: 5rem;
    align-items: center;
    margin-top: 10em;
}

.break-div {
    text-align: center;
    width: 20rem;
}

.small-break-div {
    display: flex;
    text-align: center;
}

span {
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
}

.session-div {
    text-align: center;
    width: 30rem;
    padding-left: 5em;
}

.small-session-div {
    display: flex;
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 5em;
    padding-bottom: 10px;
}

h2 {
    margin-bottom: 5px;
    padding-bottom: -5px;
}

#time-left {
    margin-top: -4px;
}

.time {
    font-size: 8rem;
    margin-top: 5px;
    font-family: "Lucida Console", Sans-serif;
}

.title {
    margin-top: -10px;
    color: rgb(161, 25, 25);
    text-align: center;
}

.designer {
    color: #050638;
    margin-top: -6px;
    text-align: center;
}

.break-session-container {
    display: flex;
    justify-content: center;
}

span {
    cursor: pointer;
}

.timer {
    border: 8px solid grey;
    border-radius: 60px;
    width: 29rem;
    height: 20rem;
    margin: auto;
    margin-top: 3rem;
}

#timer-label {
    margin-top: 30px;
    padding-bottom: -10px;
    font-size: 2.5em;
}

.control-buttons {
    margin: auto;
    width: 7em;
    align-items: center;
    display: flex;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 24;
    font-size: 2em;
}

#reset .material-symbols-outlined {
    font-size: 1.2em;
}

#break-length,
#session-length {
    width: 35px;
    font-size: 2em;
    font-weight: 900;
}

#break-increment,
#session-increment {
    margin-left: 12px;
}

#break-decrement,
#session-decrement {
    margin-right: 12px;
}