* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #142c36;
    color: white;
}

.App {
    margin: auto;
    max-width: 140rem;
    height: 50rem;
    margin-top: 5rem;
    align-items: center;
    margin-top: 10em;
}

.break-div {
    text-align: center;
    width: 30rem;
}

.small-break-div {
    display: flex;
    text-align: center;
}

span {
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
}

.session-div {
    text-align: center;
    width: 30rem;
}

.small-session-div {
    display: flex;
    text-align: center;
}

h1,
h2,
h3 {
    text-align: center;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 5em;
    padding-bottom: 10px;
}

h2 {
    margin-bottom: 5px;
    padding-bottom: -5px;
}

.time-left {
    text-align: center;
    width: 10rem;
    height: 10rem;
    align-items: center;
}

.control-buttons {
    margin: auto;
    text-align: center;
}

.break-session-container {
    display: flex;
    gap: 15px;
    justify-content: center;
}

span {
    cursor: pointer;
}

.timer {
    border: 8px solid grey;
    border-radius: 50px;
    width: 35rem;
    height: 16rem;
    margin: auto;
    margin-top: 3rem;
}

#timer-label {
    margin-top: 7px;
    padding-bottom: -2px;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 24;
    font-size: 2em;
}

#break-length,
#session-length {
    width: 35px;
    font-size: 2em;
    font-weight: 900;
}

#break-increment,
#session-increment {
    margin-left: 12px;
}

#break-decrement,
#session-decrement {
    margin-right: 12px;
}